html,
body,
.container,
.leftwrapper {
  height: 100%;
}
body {
  background-color: white;
}

/*index.html*/
/* Sidebar */
.sidebar {
  margin: 0;
  padding: 0;
  width: 250px;
  height: 100vh;
  background-color: #866ec7;
  color: #fff;
  float: left;
  height: 130%;
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
  font-family: Georgia, serif;
  font-size: 25pt;
}

.sidebar a.active {
  color: white;
  font-size: 24pt;
  text-align: center;
  border-radius: 10px;
  font-family: Georgia, serif;
  font-weight: bolder;
}

.sidebar a:hover:not(.active) {
  text-decoration: underline;
  color: white;
}
.sidebar b {
  display: block;
  color: black;
  padding: 30px;
}

/*index.html*/
.login{
  margin-top: 10px;
  margin-right: 10px;
}

.content{
  position: absolute;
  display: grid;
  width: 1200px;
  height: auto;
  margin-left: 270px;
  margin-top: 40px;
  font-family: Georgia, serif;
}

.trendingText {
  padding-top: 50px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bolder;
  color: black;
}

.list-container{
  padding: 20px;
  position: absolute;
  height: auto;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 300px);
  text-align: center;
}

.image-col{
  margin-top: 20px;
}
.title-col{
  font-weight: bolder;
  font-size: 18px;
  color: #866ec7;
}
.btn-primary{
  background-color: #866ec7 !important;
  border: none;
  font-weight: bold;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn-primary:hover{
  border: 1px solid #866ec7 !important;
  background-color: white !important;
  color: #866ec7 !important;
  font-weight: bold;
}

.btn-outline-primary{
  border-color: #866ec7 !important;
  color: #866ec7 !important;
  font-weight: bold;
  background-color: white !important;
}

.btn-outline-primary:hover{
  border-color: white !important;
  background-color: #866ec7 !important;
  color: white!important;
  font-weight: bold;
}


/*Search.html*/
.homeButton{
  margin: 20px;
}

.homeButton a.active {
  background-color: white;
  color: #866ec7;
  font-size: 25pt;
  text-align: center;
  font-family: Georgia, serif;
  font-weight: bolder;
  text-decoration: none;
}

.searchbar {
  width: 400px;
  height: 50px;
  margin: 20px;
  border-radius: 8px;
  border: 1.5px solid lightgrey;
  padding-left: 10px;
}

.select-medium{
  margin: 20px;
}

.search-button {
  margin-left: 20px;
}

.account-logout-btn{
  margin: 30px 20px;
}

.account-logout-btn form{
  margin: 5px;
}

.search-result{
  text-align: center;
  font-weight: bolder;
  color: black;
  font-family: Georgia, serif;
  margin-top: 30px;
}

#searchList{
  margin-top: 20px;
  padding: 20px;
  height: auto;
  width: 1500px;
}

.search-container{
  display: grid;
  grid-template-columns: 200px 500px 500px;
}

.search-content{
  display: grid;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  font-family: Georgia, serif;
}

.search-title{
  font-weight: bolder;
  color: #866ec7;
  font-size: 20px !important;
}

.search-description{
  font-size: 18px !important;
}

.add-button{
  font-size: 20px;
  font-weight: bold;
}

.toprow {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

/*Sign-up.html*/
.sign-up-form{
  width: 500px;
  border-radius: 10px;
  height: auto;
  background-color: #f1f1f1;
}

.sign-up-container{
  width: 100%;
  align-items: center;
  justify-content: center;
  float: center;
  display: grid;
}

.sign-up-title{
  text-align: center;
  font-weight: bolder;
  color: #866ec7;
  font-family: Georgia, serif;
  font-size: 30px;
  margin-top: 20px;
}

.form-group label{
  color: #866ec7;
  font-family: Georgia, serif;
  font-size: 20px;
  margin: 10px 0px;
}

#password-verify{
  margin-top: 5px;
  margin-bottom: 20px;
}

/*account.html*/
.autoHeight {
  height: auto;
}

.account-title{
  text-align: center;
  font-weight: bolder;
  color: black;
  font-family: Georgia, serif;
  font-size: 32px;
  margin: 20px 0px;
  color: black;
}

.account-nav a.nav-link{
  font-size: 18px;
  color: #866ec7;
  font-family: Georgia, serif;
}

.account-container{
  width: 100%;
  align-items: center;
  justify-content: center;
  float: center;
  display: grid;
}

.account-nav-container{
  width: 1000px;
}

.account-info-container{
  width: 1000px;
  background-color: #f1f1f1;
  padding: 20px;
}

.change-title{
  font-weight: bolder;
  color: black;
  font-family: Georgia, serif;
  font-size: 25px;
}

.change-name{
  margin-top: 50px;
}

.change-password{
  margin-top: 138px;
}

/*list.html*/
.list-content{
  margin: 20px;
}

.list-text{
  font-weight: bolder;
  color: black;
  font-family: Georgia, serif;
  font-size: 25px;
}

.inProgressItemList {
  height: 200px;
  min-width: 1500px;
  background-color: #f1f1f1;
  margin-bottom: 20px;
}
.plannedItemList {
  height: 200px;
  min-width: 1500px;
  background-color: #f1f1f1;
  margin-bottom: 20px;
}
.topItemList {
  height: 200px;
  min-width: 1500px;
  background-color: #f1f1f1;
  margin-bottom: 20px;
}
.completedItemList {
  height: 200px;
  min-width: 1500px;
  background-color: #f1f1f1;
  margin-bottom: 20px;
}

.categories {
  display: grid;
  grid-template-columns: repeat(7, auto);
  margin-left: 0px;
  background-color: #866ec7;;
  height: 50px;
  padding: 10px 20px;
}

.menu-item {
  float: left;
  color: white;
  font-family: Georgia, serif;
  font-size: 20px;
  margin-right: 25px;
  text-decoration: none;
}

/*customList.html*/
.custom-list-title {
  margin: 20px;
  float: left;
  font-weight: bolder;
  color: black;
  font-family: Georgia, serif;
  font-size: 25px;
}

.add-list-btn {
  float: right;
  margin: 20px;
}


/*Miscellaneous*/
.centered {
  text-align: center;
}

.sitename {
  float: left;
  margin: 20px;
}


.userName {
  /* float: right; */
  margin-left: 9px;
}


.show {
  margin: 20px;
}

.product {
  background-color: white;
  width: 100%;
  height: 200px;
  margin: 20px 0px;
}


.clickable {
  cursor: pointer;
}

.grid-container-list {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px;
  background-color: #2196f3;
  padding: 10px;
}
.grid-container-list > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
}

.greeting{
  font-size: 40px;
}

#greet-user {
  font-size: 40px;
}


.mediaItem {
  min-width: 100px;
  background-color: darkgray;
  margin: 5px;
}

.arrowContainer {
  width: 50px;
  background-color: gainsboro;
}

.arrowContainer:hover {
  background-color: gray;
}

.arrow {
  font-size: xx-large;
}

.index-button {
  font-size: 40px;
}

.analytics {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #a9a9a9;
  font-size: 20px;
  font-family: Georgia, serif;
  color: black;
}