html,
body,
.container,
.leftwrapper {
  height: 100%;
}
body {
  background-color: rgb(225, 247, 243);
  margin: 10px;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  height: 100vh;
  background-color: #f1f1f1;
  float: left;
  height: 100%;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #047baa;
  color: white;
  font-size: larger;
}

.sidebar a:hover:not(.active) {
  background-color: rgb(145, 145, 145);
  color: white;
}
.sidebar b {
  display: block;
  color: black;
  padding: 30px;
}

.trendingText {
  padding-top: 50px;
  margin-right: 200px;
  text-align: center;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.centered {
  text-align: center;
}

.backgroundColor {
  background-color: #f1f1f1;
}

.homeButton {
  background-color: #047baa;
  width: 200px;
  height: 60px;
  border-radius: 0 !important;
}

.homeButtonInner {
  color: white;
  font-size: larger;
  padding-left: 15px;
  padding-top: 15px;
}

.autoHeight {
  height: auto;
}

.toprow {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.sitename {
  float: left;
  margin: 20px;
}

.searchbar {
  width: 350px;
  height: 50px;
  margin-top: 20px;
}

.userName {
  /* float: right; */
  margin-left: 9px;
}

.menubar {
  display: grid;
  grid-template-columns: repeat(7, 150px);
  margin-left: 20px;
}

.menuitem {
  float: left;
  margin: 20px 0px;
}

.show {
  margin: 20px;
}

.product {
  background-color: white;
  width: 100%;
  height: 200px;
  margin: 20px 0px;
}

.yourLists {
  margin: 20px;
  float: left;
}

.addList {
  float: right;
  margin: 20px;
}

.clickable {
  cursor: pointer;
}
.menubar {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f1f1f1;
  float: left;
}

.menubar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
